@{
    ViewBag.Title = "About";
}
@model MyASPMVC.Models.Mymodols
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>@Model.Phone</h2>
<h3>@Model.Name1</h3>

<p>Use this area to provide additional information.</p>
